@import "~toastr/toastr";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

.confessions-nav {
  background: #e9ca18;
}

#particles-js, .confessions-jumbo {
  top: 0;
  left: 0;
  right: 0;
  height: 256px;
  position: relative;
}

#particles-js {
  background: black;
}

.alert-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.confessions-jumbo {
  background: none;
  color: white;
  top: -256px;
  margin-bottom: -256px !important;
}
.confessions-back {
  background: #0f0f0f;
}

.ad-card {
  max-width: 300px;
  padding: 0 !important;
}

.form-jumbotron {
  background: rgba(0, 0, 0, 0.6);
}

.form-card {
  max-width: 512px;
}

.form-circle-pic {
  width: 18px;
  height: 18px;
  border-radius: 18px;
}