<div class="col-lg-6 col-md-9" ng-if="secret_id">
    <div class="card p-4">
        <div class="card-block">
            <p class="text-center">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                </svg>
            </p>
            <div class="text-center"><p class="mt-2">{{form.sent_message}}</p>
                <p> Μπορείς να κρατήσεις το παρακάτω αναγνωριστικό και να διαχειριστείς το μυστικό σου πατώντας
                    το <i class="fa fa-key" aria-hidden="true"></i> δίπλα στο κουμπί {{form.submit_prompt}}. </p>
                <div class="input-group input-group-lg">
                    <input class="form-control text-center" placeholder="Αναγνωριστικό μυστικού" ng-model="secret_id" readonly></div>
                <p class="mt-4"><a href="#" ng-click="backToForm()">Επιστροφή στη φόρμα</a></p></div>
        </div>
    </div>
</div>