<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="Description" CONTENT="{{ content }}">
    <title>{{ title }}</title>
    <meta name="robots" content="nosnippet,nofollow,noarchive">
</head>
<body>
</body>
</html>