<div class="modal-body pt-0">
    {% if secret.Id %}
        <div>
            <b>Περιεχόμενο:</b><br />
            {{ secret.Content }}
        </div>
        <div class="mt-2">
            <b>Δημισιευμένο: </b>
            {% if published != "" %}
                <span class="text-success">Ναι!</span> <a href="{{ published }}" target="_blank">Δείτε το στο Facebook!</a>
            {% else %}
                <span class="text-danger">Όχι</span>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-danger mb-0">
            Δεν βρέθηκε τέτοιο μυστικό!
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    {% if deletable %}
        <form id="status_check_delete" onsubmit="return deleteSubmit()">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="id" value="{{ secret.Id }}">
            <input type="hidden" name="carrier" value="{{ secret.Carrier }}">
            <button class="btn btn-danger">Διαγραφή</button>
        </form>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
</div>