{{define "index-content"}}
<div class="jumbotron confessions-jumbo">
    <div class="container mt-0 mt-md-2 mt-lg-4 pt-2">
        <h1>Υποστήριξη προς τους χρήστες</h1>
    </div>
</div>
<div class="content-container container pt-4">
    <p>
        Εάν αντιμετωπίζεις κάποιο σοβαρό πρόβλημα, ή/και θεωρείς ότι βρίσκεται η ζωή σου σε κίνδυνο, ίσως εδώ να μην
        είναι το πιο σωστό μέρος να μιλήσεις γι' αυτό. Στις παρακάτω γραμμες βοήθειας και υποστήριξης μπορείς να
        μιλήσεις με ειδικούς που μπορούν πραγματικά να σε βοηθήσουν!
    </p>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="text-center mb-2"><a class="help-line" href="http://cyberalert.gr" target="_blank"> <img src="/asset/help/cybercrime.png" alt="Klimaka"> <br>
                <small>Δίωξη Ηλεκτρονικού Εγκλήματος</small>
                <br>
                <h3>11188</h3></a></div>
        </div>
        <div class="col-md-3">
            <div class="text-center mb-2"><a class="help-line" href="http://suicide-help.gr/" target="_blank"> <img src="/asset/help/suicide.png" alt="Klimaka"> <br>
                <small>Γραμμή παρέμβασης για την αυτοκτονία</small>
                <br>
                <h3>1018</h3></a></div>
        </div>
        <div class="col-md-3">
            <div class="text-center mb-2">
                <a class="help-line" href="http://epipsi.gr/Service_all/service/A7/A7.php" target="_blank"> <img src="/asset/help/depression.png" alt="Depression"> <br>
                    <small>Γραμμή βοήθειας για την κατάθλιψη</small>
                    <br>
                    <h3>1034</h3></a></div>
        </div>
        <div class="col-md-3">
            <div class="text-center mb-2"><a class="help-line" href="http://onek.org.cy/archiki-selida/programmata-ipiresies/simvouleftikes-ipiresies/1410-2/" target="_blank"> <img src="/asset/help/onek.png" alt="Klimaka"> <br>
                <small>Οργανισμός Νεολαίας Κύπρου</small>
                <br>
                <h3>1410 </h3></a></div>
        </div>
    </div>
</div>
{{end}}