{{define "index-content"}}
<div class="jumbotron confessions-jumbo">
    <div class="container mt-4">
        <h1><img src="/asset/ender-confessions.svg" class="d-inline-block align-top mr-1" height="48"> ender confessions</h1>
        <h4>Τα ανομολόγητα όπως πρέπει να είναι!</h4>
    </div>
</div>
<div class="content-container container pt-4">
    <p class="lead">
        Το ender confessions είναι μία εφαρμογή στοχευμένη σε σελίδες ανομολογήτων που θέλουν να μεταφέρουν
        με ταχύτητα και αξιοπιστία τα μυστικά/ανομολόγητα/εξομολογήσεις σας από τη φόρμα τους στη σελίδα τους στο Facebook!
    </p>
    <p class="lead">
        Η διαδικάσία είναι απλή!
    </p>
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <img class="img-fluid img-thumbnail" src="/asset/step1.png" alt="Step1" height="100">
            <h5 class="m-3"><i class="fas fa-paper-plane"></i> Στέλνεις το μυστικό σου.</h5>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid img-thumbnail" src="/asset/step2.png" alt="Step2" height="100">
            <h5 class="m-3"><i class="fas fa-check"></i> Ο διαχειριστής το εγκρίνει.</h5>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid img-thumbnail" src="/asset/step3.png" alt="Step3" height="100">
            <h5 class="m-3"><i class="fab fa-facebook"></i> Και να το στη σελίδα!</h5>
        </div>
    </div>
</div>
{{end}}