{{define "index-content"}}
<div class="jumbotron confessions-jumbo">
    <div class="container mt-4 pt-2">
        <h1>Γίνετε μέλος!</h1>
    </div>
</div>
<div class="content-container container pt-4">
    <p class="lead">Πλέον είναι πανεύκολο να γίνεται μέλος του confessions! Οι προυποθέσεις είναι:</p>
    <ul>
        <li>Η σελίδα σας να έχει τουλάχιστον 25 likes.</li>
        <li>Να διαθέτει η σελίδα @username <span class="text-muted">(για παράδειγμα facebook.com/an.asoee)</span></li>
    </ul>
    <p class="lead">Η διαδικασία έχει ως εξής!</p>
    <ul>
        <li>Γραφτείτε στο διαχειστικό μας περιβάλλον <a href="https://admin.ender.gr/auth/register">εδώ</a>!</li>
        <li>Εισέλθετε στο διαχειστικό περιβάλλον του confessions <a href="https://admin.ender.gr/confessions/">εδώ</a>!</li>
        <li>Πατήστε <a class="btn btn-success btn-sm text-light">Δημιουργία Φόρμας</a> και ακολουθήστε τα βήματα!</li>
    </ul>
    <p>
        Κάθε διαχειριστής μπορεί να έχει δικό του λογαριασμό και να προστεθεί στην φόρμα απο τον δημιουργό της! Οπότε
        δεν υπάρχει λόγος χρήσης των ίδιων στοιχείων απο όλους!
    </p>
    <p>Και αυτό ήταν! Σας ευχαριστούμε για την υποστήριξή σας!</p>
</div>
{{end}}