{{define "index-content"}}
<div class="jumbotron confessions-jumbo">
    <div class="container mt-0 mt-md-2 mt-lg-4 pt-2">
        <h1>Πολιτική απορρήτου</h1>
    </div>
</div>
<div class="content-container container pt-4">
    <p>Ως εφαρμογή διαχείρισης ανομολόγητων/μυστικών, το ender confessions φροντίζει έτσι ώστε πάντα να:</p>
    <ul>
        <li>Προστατεύει τα δεδομένα σας από τον "έξω κόσμο" και από όσους δε θα έπρεπε να έχουν πρόσβαση σε αυτά.</li>
        <li>Κρατάει από εσάς τα λιγότερα δυνατά δεδομένα, αποκλειστικά για τη διασφάλιση της ομαλής λειτουργίας της εφαρμογής.</li>
        <li>Διαχειρίζεται με τον πιο ορθό τρόπο αυτά τα δεδομένα.</li>
    </ul>
    <p class="lead">Συλλογή δεδομένων</p>
    <p>
        Το ender confessions συλλέγει από εσάς δεδομένα μόνο όταν στέλνετε μυστικά στις φόρμες των σελίδων - μελών και ποτέ όταν απλώς επισκέπτεστε τη σελίδα/φόρμα μας. Κάθε φορά που μας στέλνετε ένα μυστικό συλλέγουμε:
        Τη διεύθυνση IP σας, πληροφορίες για την συσκευή σας, και άλλες τεχνικές πληροφορίες που αφορούν τη σύνδεσή σας (διαβάστε περισσότερα <a href="https://www.quora.com/What-can-you-learn-from-someones-IP-address" target="_blank">εδώ</a>)
    </p>
    <p class="lead">Cookies</p>
    <p>
        Το ender confessions χρησιμοποιεί cookies μόνο για στατιστικούς λόγους, ώστε να μπορούμε να βελτιώνουμε συνεχώς τις υπηρεσίες που σας παρέχουμε. Με την περιήγησή σας στην ιστοσελίδα μας αποδέχεστε αυτόματα την αποθήκευση cookies στον τερματικό εξοπλισμό σας. Με τα cookies αυτά δεν τίθενται σε κίνδυνο η ιδιωτικότητα και τα ευαίσθητα προσωπικά δεδομένα σας.
        Για να διαχειρίζεστε ή να διαγράφετε τα cookies που είναι εγκατεστημένα στις συσκευές σας, αλλά και για άλλες πληροφορίες, δείτε  <a href="https://www.aboutcookies.org/" target="_blank">εδώ</a>.
    </p>
</div>
{{end}}